<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moon Server 홈페이지</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎮</text></svg>">
    <style>
        td {
            padding: 10px; /* 여백 추가 */
        }
    </style>
</head>

<body>
<div id="root">
    <header>
        <div class="header-content">
            <a th:href="@{/}" class="logo">
                <i class="fas fa-gamepad"></i>
                <span>Moon Server</span>
            </a>
            <nav>
                <ul>
                    <li><a th:href="@{/}">홈</a></li>
                    <li><a th:href="@{/notices}">공지사항</a></li>
                    <li><a th:href="@{/commands}">명령어</a></li>
                    <li><a th:href="@{/boards}">커뮤니티</a></li>
                    <li><a th:href="@{/users/balances}">돈</a></li>
                    <li><a th:href="@{/minecraft/online-users}">유저</a></li>

                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="online-users-card">
            <h3>현재 접속 중인 유저</h3>
            <div class="online-users-list">
                <div class="online-user" th:each="user : ${users}">
                    <img th:src="'https://minotar.net/avatar/' + ${user} + '/32'" th:alt="${user} + ' 스킨'">
                    <span th:text="${user}">유저이름</span>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <p>&copy; 2025 Moon Server Start</p>
    </footer>
</div>
</body>
</html>