<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moon Server 홈페이지</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎮</text></svg>">
    <style>
        td {
            padding: 10px; /* 여백 추가 */
        }
    </style>
</head>

<body>
<div id="root">
    <header>
        <div class="header-content">
            <a href="#" class="logo">
                <i class="fas fa-gamepad"></i>
                <span>Moon Server</span>
            </a>
            <nav>
                <ul>
                    <li><a th:href="@{/}">홈</a></li>
                    <li><a th:href="@{/notices}">공지사항</a></li>
                    <li><a th:href="@{/commands}">명령어</a></li>
                    <li><a th:href="@{/boards}">커뮤니티</a></li>
                    <li><a th:href="@{/users/balances}">돈</a></li>

                </ul>
            </nav>

            <!-- 로그인 전 -->
            <div class="login-form" sec:authorize="isAnonymous()">
                <form method="post" action="/login">
                    <input type="text" name="username" placeholder="아이디" required>
                    <input type="password" name="password" placeholder="비밀번호" required>
                    <button type="submit">로그인</button>
                </form>
            </div>

            <!-- 로그인 후 -->
            <div class="login-form" sec:authorize="isAuthenticated()" style="align-items: center;">
                <div style="display: flex; align-items: center;">
                    <p style="margin: 0; font-size: 1rem;">
                        <span style="color: #f39c12; font-weight: bold;" th:text="${#authentication.name}"></span>
                        <span style="color: #ffffff;">님 환영합니다.</span>
                    </p>
                    <form th:action="@{/logout}" method="post" style="margin-left: 1rem;">
                        <button type="submit" class="login-button">로그아웃</button>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section id="home" class="active">
            <div class="hero">
                <h2>유저의 잔액 정보</h2>
                <table style="margin-left: auto; margin-right: auto;">
                    <thead>
                    <tr>
                        <th>아이디</th>
                        <th>마크 돈</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="balance : ${balances}">
                        <td th:text="${balance[0]}"></td> <!-- Username -->
                        <td th:text="${balance[1]}"></td> <!-- Balance -->
                    </tr>
                    <tr th:if="${#lists.isEmpty(balances)}">
                        <td colspan="2">데이터가 없습니다.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Moon Server Start</p>
    </footer>
</div>
</body>
</html>